# Datos crudos
data/raw/external/

# Datos procesados
data/processed/
data/interim/
data/splits/

# Outputs
outputs/
*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pkl
*.npy

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db