# Datos crudos (descargables por separado)
data/raw/external/

# Datos procesados (generados por scripts)
data/processed/
data/interim/
data/splits/

# Outputs grandes
outputs/
*.csv

# Caché de Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pkl
*.npy

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db